body {
    background:url("http://a3.mndcdn.com/image/upload/a1bt1p1w0uvpjp8qozv5.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    
    
}
